.App {
  text-align: center;
}


h2 { /* Estilos de los títulos h1 y h2 */
  background-color: #ffab45;
  text-align: center;  
  color: #ffe4c4;
  font-weight: 500;
  margin-bottom: 30px;         
}

.button {
  margin:  10px;
  padding: 3px;
  color: #ffe4c4;
  background-color: #F58700;
  border: #F58700;  
  border-radius: 5px; /* Corrige el radius del framework */
  
}
  .button:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease; 
  }   
    .button:active { 
        /* Transparenta y cambia color de borde y fuente */
    background-color: transparent;   
    color: #F58700;
    box-shadow: 0px 3px 10px rgba(71, 54, 54, 0.3);
    }
